@use "../utils/utils_colors.scss" as colors;

.errorPage {
	max-width: 480px;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	img {
		width: 100%;
	}

	header {
		display: flex;
		align-items: end;
		gap: 0.5rem;
	}

	footer {
		padding-top: 1rem;
		text-align: justify;

		a {
			color: black;
			text-decoration: underline;
			font-weight: 900;
		}
	}
}
